*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 16px;
	font-family: "微软雅黑";
	margin-top: 0px !important;
}
body{
	min-width: 1200px;
}
/*-------- 标签通用样式 -------*/
ul{
	list-style: none;
}
a{
	border: none;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}
img{
	border: none;
}
table{
	border-collapse: collapse;
}
button{
	border: none;
	background: none;
	outline: none;
	box-sizing: border-box;
}
h5{
	text-align: center;
	padding: 12px 0px;
}
input, select{
	width: 200px;
	height: 20px;
	border: 1px solid rgb(220, 220, 220);
	background: white;
	border-radius: 3px;
	line-height: 20px;
	font-size: 12.6px;
}
textarea{
	width: 60%;
	border: 1px solid rgb(220, 220, 220);
	background: white;
	line-height: 20px;
	font-size: 14px;
}
/*-------- input的button类型按钮 -------*/
.input_button{
	width: 100px;
	height: 20px;
	border: 1px solid rgb(220, 220, 220);
	border-radius: 3px;
	line-height: 20px;
	font-size: 14px;
}
/*-------- input的checkBox类型按钮 -------*/
.input_checkBox{
	width: 14px !important;
	height: 14px;
	border: 1px solid rgb(220, 220, 220);
	background: white;
	border-radius: 3px;
	vertical-align: middle;
}
/*-------- 左右浮动 -------*/
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
.clear:after{
	content: "";
	display: block;
	clear: both;
}
/*-------- 字体位置 -------*/
.alignCenter{
	text-align: center;
}
.alignLeft{
	text-align: left;
}
.alignRight{
	text-align: right;
}
/*-------- 字体大小 -------*/
.firstText{
	font-size: 16px;
}
.secondText{
	font-size: 14.4px;
}
.thirdText{
	font-size: 13.6px;
}
.menuText{
	font-size: 14.2px;
}
.contentText{
	font-size: 12.6px;
}
.listTableText{
	font-size: 11.5px;
}
/*-------- 重点字体为红色 -------*/
.importantText{
	color: rgb(255, 50, 50);
}
/*-------- 重点字体为红色 -------*/
.importantText{
	color: rgb(255, 50, 50);
}
/*-------- 出错表单边框变为红色虚线框 -------*/
.error{
	border: 1px dashed rgb(255, 50, 50) !important;
}
/*-------- 预警和告警 -------*/
.alarmLevel1{
	background: yellow !important;
}
.alarmLevel2{
	background: red !important;
}
/*-------- 隐藏区域块 -------*/
.hidden{
	display: none;
}
/*-------- 手指样式并且变红色 -------*/
.redColor{             
	color: rgb(255, 50, 50) !important;/*-- 必填项的红色标注 --*/
}
.cursor:hover{
	cursor: pointer;
	color: rgb(255, 50, 50) !important;
}
.checkSelectAll{
	cursor:pointer;
}
/*-------- 超出一行显示点点点并隐藏 -------*/
.overLine{
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/*--增加按钮的样式 --*/
.btn_img{
	position: relative;
	top: 6px;
}
.btn_img:hover{
	cursor: pointer;
}
.img_hand:hover{
	cursor: pointer;
}

/*------- 选中按钮 ------*/
.btn_blank{
	background: rgb(68, 161, 248) !important;
	color: white;
	padding: 1px 10px !important;
	border-radius: 3px;
	border: 1px solid rgb(68, 161, 248) !important;
	margin: 4px 5px !important;
}
/*------- 未选中按钮 ------*/
.btn_noSelect{
	background: rgb(255, 255, 255) !important;
	color: black !important;
	padding: 1px 10px !important;
	border-radius: 3px;
	border: 1px solid rgb(68, 161, 248) !important;
	margin: 4px 5px !important;
}
.btn_blank:hover{
	cursor:pointer;
}
.btn_noSelect:hover{
	cursor:pointer;
}

.bgd_add 
 {
	 background:url(../img/button/bgd_add.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:25px;
	 line-height:22px;
	 color:rgb(30,60,230);
 }
/*--删除按钮的样式--*/
.bgd_delete
{
	 background:url(../img/button/bgd_delete.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:25px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
.bgd_update{
	background:url(../img/button/bgd_update.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:25px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
.bgd_import1{
	background:url(../img/button/bgd_import1.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:25px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
.bgd_import2{
	background:url(../img/button/bgd_import2.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:25px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
/*--增加明细按钮的样式--*/
.bgd_add_detail
{
	 background:url(../img/button/bgd_add_detail.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:80px;
	 height:22px;
	 text-indent:20px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
/*--删除明细按钮的样式--*/
.bgd_delete_detail
{
	 background:url(../img/button/bgd_delete_detail.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:80px;
	 height:22px;
	 text-indent:20px;
	 line-height:22px;
	 color:rgb(30,60,230);
}
/*--四个字的搜索--*/
.bgd_blue_four
{
	background:url(../img/button/bgd_blue_four.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:70px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 margin-left:20px;
	 color:white;
}

.bgd_blue_five
{
	background:url(../img/button/bgd_blue_five.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:80px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 margin-left:20px;
	 color:white;
}
/*--两个字的搜索按钮--*/
.bgd_blue_search
{
	background:url(../img/button/bgd_blue_search.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:16px;
	 line-height:22px;
	 margin-left:20px;
	 color:white;
}

.bgd_white_clear
{
	background:url(../img/button/bgd_white_clear.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-indent:16px;
	 line-height:22px;
	 margin-left:20px;
	 color:black !important;
}

.bgd_blue_two
{
	background:url(../img/button/bgd_blue_two.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:50px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 margin-left:20px;
	 color:white;
	 margin-bottom: 10px;
}

.bgd_white_two
{
	background:url(../img/button/bgd_white_two.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:50px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 margin-left:20px;
	 color:black !important;
	 margin-bottom: 10px;
}

.bgd_white_three
{
	background:url(../img/button/bgd_white_three.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:60px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 margin-left:20px;
	 color:black !important;
	 margin-bottom: 10px;
}

.bgd_white_two_page
{
	background:url(../img/button/bgd_white_two.png) no-repeat;
	 display:inline-block;
	 font-size:14px;
	 width:50px;
	 height:22px;
	 text-align:center;
	 line-height:22px;
	 color:black !important;
	 margin-bottom: 10px;
	 margin-left: 4px;
     position: relative;
     top:0px;
}

/*--------- 区块儿标题的渐变背景 ----------*/
.title_background{
   /*background: -webkit-linear-gradient(left, rgba(200, 220, 245, 1) 1%, rgba(170, 170, 170, 1) 50%, rgba(200, 220, 245, 1) 100%) 0 0 100% 0/0 0 1.5px 0 stretch;*/
}

/*---------- 滚动条样式 ----------*/
/*------------ ie -----------*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
#tree::-webkit-scrollbar{  
    width: 14px;  
    /*height: 16px;*/  
    background-color: rgb(235, 245, 255);  
}    
/*定义滚动条轨道 内阴影+圆角*/  
#tree::-webkit-scrollbar-track{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    /*border-radius: 10px;*/  
    background-color: rgb(235, 245, 255); 
}  
/*定义滑块 内阴影+圆角*/  
#tree::-webkit-scrollbar-thumb{  
    /*border-radius: 10px;*/  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    background-color: rgb(120, 190, 250);
}
/*------- google浏览器下的滚动条样式 -------*/
.scroll_style{
	scrollbar-face-color: rgb(120, 190, 250);       /*-- 总体的背景颜色 --*/
	scrollbar-arrow-color: rgb(50, 100, 255);      /*-- 上下箭头的颜色 --*/
	scrollbar-track-color: rgb(235, 245, 255);      /*-- 中间滑动区的颜色 --*/
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

/*------ 弹出框的样式设置 ------*/
#msg_mask{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
}
#msg{
    width:340px;
    position: fixed;
    z-index:999;
    top: 40%;
    margin-top:-100px;
    left:50%;
    margin-left:-170px;
    background:white;
    box-shadow:5px 5px 8px rgb(153, 153, 153);
    font-size:16px;
    color:rgb(102, 102, 102);
    text-align: center;
    line-height: 32px;
    display:inline-block;
    padding-bottom:20px;
    border-radius:3px;
    transition: 2s;
}
#msg_top{
	font-size: 15px;
	color: white;
    background:rgb(68, 161, 248);
    padding:2px 15px 2px 10px;
    text-align:left;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#msg_img{
	width: 25px;
	vertical-align: middle;
}
#msg_top span{
    font-size:20px;
    float:right;
    cursor:pointer;
}
#msg_cont{
    padding:20px;
    text-align:left;
    color: rgb(0, 80, 140);
}
.msg_btn{
    display:inline-block;
    cursor:pointer;
	width:50px;
	height:22px;
    background:url(../img/button/bgd_blue_two.png) no-repeat;
	font-size:14px;
	text-align:center;
	line-height:22px;
	color:white;
}
#msg_clear{
    float:right;
    margin-right: 30px;
}
#msg_clear1{
    float:right;
    margin-right: 20px;
}
#msg_cancle{
    float:right;
    margin-right: 30px;
}

/*------ 页面加载等待转圈 ------*/
.loader {  
    position: fixed;  
    left: 0px;  
    top: 0px;  
    width: 100%;  
    height: 100%;  
    z-index: 9999;  
    background: url(../img/button/loading.gif) 50% 50% no-repeat rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000);
    background-size: 8% 15%;
}  
.load_hint{
	width: 300px;
	padding: 10px 0px;
	margin: 0px auto;
	margin-top: 150px;
	font-size: 22px;
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
	letter-spacing: 2px;
}
.hidden{
	display: none;
}

/*---------- 版尾 ----------*/
.ending{
	font-size: 12px;
	color: rgb(50, 50, 50);
	position: fixed;
	right: 10px;
	bottom: 10px;
}

/*----- 页码 -----*/
.page_area{
	width: 100%;	
	/*text-align: center;*/
	padding: 5px 0px;
	margin-bottom: 10px;
}
.page_sum{
	float: left;
	font-size: 11px;
	margin-left: 10px;
	color: rgb(90, 90, 90);
}
.async-page{
	float: right;
	margin-right: 10px;
}
.async-page > button{
	font-size: 12px;
	margin-right:5px;
	padding: 1px 5px;
	border-radius: 3px;
	background: rgb(240, 240, 240);
	box-shadow: 1px 1px 1px 1px rgb(100, 100, 100);
	cursor: pointer;
}
.async-page > button:hover{
	background: rgb(68, 161, 248);
}
.select_page{
	background: rgb(68, 161, 248) !important;
	color: white;
	font-weight: bold;
}